.bag-container{
    width: 30%;
    border: 1px solid black;
    height: min-content;
    box-shadow: 3px 3px 3px black;
    margin-right: 50px;
    margin-top: 50px;

    .bag-row{
        display: flex;
        border-bottom: 1px solid black;
        grid-template-columns: repeat(1, 1fr);
        width: 500px;
        margin: 10px auto;

        img{
            width: 90px;
            height: 70px;
        }

        h3{
            width: 50%;
            font-size: 1.3rem;
            text-align: center;
        }
    
    .bag-quantityAndButton{
        .bag-quantity{
            height: 30px;
            width: 150px;
        }
        .bag-quantityButton{
            display: flex;
            justify-content: space-evenly;
            button{
                font-size: 1rem;
                height: 25px;
                border-radius: 15px;
                margin-bottom: 10px;
                background-color: green;
                &:first-child{
                    background-color: red;
                }

            }
        }
    }
    .bag-removeBtn{
        height: 70px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 10%;
    }
}
    .bag-discounts{
        width: 300px;
        margin-left: 250px;
        .discount-buttons{
            display: flex;
            flex-direction: column;
            
            .discount-button{
               border-bottom: 1px solid black;
               display: flex;
               flex-direction: row;
               justify-content: space-around;

               button{
                   margin-top: 10px;
                   width: 50px;
                   height: 30px;
                   cursor: pointer;
               }
               p{
                   font-weight: bold;
                   margin-bottom: 5px;
               }
            }
            
            
        }
    }
    .total{
        margin-left: 250px;
        font-size: 1.5rem;
    }
    .button-goToCheck{
        width: 80%;
        height: 50px;
        border-radius: 10px;
        margin: 20px 0px;

        a{
            text-decoration: none;
        }
    }
}