.summary-container{
    height: 90vh;
    
    .summary-content{          
        display: flex;
        flex-direction: row;
        
        .summary-bag{
            margin: auto 100px;
        }
       
        .summary-user{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: min-content;

            h3{
                margin-left: 100px;
            }
        }

        .summary-element{
            width: 300px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 100px;

            p{
                &:last-child{
                  font-weight: bold;  
                }
            }
        }
    }
    .confirm{
        width: 10%;
        height: 50px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px black;
        margin-top: 100px;
        cursor: pointer;
        a{
            text-decoration: none;
        }
    }
}